.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4f46e5;
  color: rgb(69, 13, 13);
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.navbar a {
  color: rgb(223, 219, 219);
  margin-left: 15px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}