/* HEADER */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #4f46e5;
}

/* LINKS */
.links {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.links a {
  text-decoration: none;
  background: #eef2ff;
  padding: 6px 12px;
  border-radius: 8px;
  color: #4f46e5;
  font-size: 14px;
}

/* CARD HOVER */
.image-card {
  transition: 0.3s;
  cursor: pointer;
}

.image-card:hover {
  transform: translateY(-5px);
}

/* DOCUMENT CARD */
.doc-card {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* BUTTON */
form button:hover {
  background: #4338ca;
}